@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    background-image: url(/télécharger.jpeg);
    background-position: center;
    background-size: cover;
    color: black;
    margin: 0;
    padding: 0;
}

.center{
    background-image: url(/1.png);
    height: 100vh;
    background-size: cover;
}
#prestations{
    background-image: url(/2.png);
    height: 100vh;
    background-size: cover;
}
#cv{
    background-image: url(/3.png);
    height: 100vh;
    background-size: cover;
}

#contact{
    background-image: url(/4.png);
    height: 100vh;
    background-size: cover;
}

#form-contact{
    height: 100vh;
    width: 100vw;
    background-image: url(/5.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth; /* Ajoute une transition fluide lors du déplacement */
    transition-duration: 2s;
}

.arrow{
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    filter: invert();
    height: 30px;
    width: 30px;
}

ul, li,a, p{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: visible;
}

h2{
    margin: 0 0 0 -10px;
    font-weight: normal;
    color: white;
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

h2:hover{
    background-color: red;
}

li{
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.heure{
    padding-bottom: 10px;
    font-family: 'Courier New', Courier, monospace;
}

a, p, h2, h1{
    color: white;
    cursor: default;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

a:hover{
    background-color: red;
}

.social-media a:hover{
    background-color: #00FFFF;
}

.social-media{
    filter: invert();
    width: 100%;
    justify-content: space-between;
}

.social-media ul{
    width: 100%;
    justify-content: space-between;
}

.social-media li{
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 30px;
}

img{
    width: 20px;
    height: 20px;
}

#menu{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width:fit-content;
    justify-content: center;
    align-items: flex-start ;
}

#prestations, #cv ,#contact{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#menu .social-media{
    display: flex;
}

#menu .social-media ul{
    display: flex;
    flex-direction: row;
}

#menu .social-media ul li{
    display: flex;
    flex-direction: row;
}

.social-media-2{
    filter: invert();
    display: flex;
}

.social-media-2 ul{
    display: flex;
    flex-direction: row;
}

.social-media-2 a:hover{
    background-color: #00FFFF;
}



#prestations .prestation-site li{
    display: flex;
    flex-direction: row;
}

a{
    margin: 0 10px 0 10px;
}

#cv > ul > li{
    display: flex;
    flex-direction: row;
}

.social-media-2 li{
    display: inline-block;
}

p.heure{
    display: flex;
    align-items: flex-end;
}

#form-contact form{
    display: flex;
    flex-direction: column;
    width: 40%;
}

#form-contact form input, #form-contact form textarea, #form-contact form button{
    margin-bottom: 10px;
    padding: 5px;
    border-color: white;
    color: white;
    background-color: #000;
}

input::placeholder,
 textarea::placeholder{
    font-family: 'Courier New', Courier, monospace;
}

#form-contact form textarea{
    min-height: 150px;
}